body {
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  color: white;
  font-family: 'Courgette', cursive;
  font-size: 2.5rem;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.side-pic {
  position: relative;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/relaxing.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.side-pic p {
  position: absolute;
  bottom: 0px;
  right: 5px;
  color: white;
}

.logo {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15rem;
}

.logo img {
  width: 5rem;
  padding: 10px;
}
